*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-container{
    background-color: rgb(71,98,225);
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
}
  
.parent-container{
    width: 1200px;
    height: 1200px;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(11,auto);
    gap: 20px;
    padding: 20px;
}
.child-1{
    grid-column: 1/6;
}
.child-2{
    grid-row: 2/6;
    background-color: rgb(93,214,205);
}
.child-3{
    grid-column: 2/6;
    grid-row: 2/4;
}
.child-4{
    grid-column: 2/4;
    grid-row: 4/6;
}
.child-5{
    grid-column: 4/6;
    grid-row: 4/6;
}
.child-6{
    grid-column: 1/6;
}