*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./social-links-profile-main/assets/images/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 900px;
    background-color:hsl(0, 0%, 8%) ;
    width: 1500px;
}  
.maincontent{
    background-color:hsl(0, 0%, 12%) ;
    width: 300px;
    height: 50%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
#name{
    color:hsl(0, 0%, 100%) ;
    font-size: 22px;
}
#place{
    color:hsl(75, 94%, 57%) ;
}
#job{
    color: hsl(0, 0%, 20%);
}
#place,#job{
    font-size: 14px;
}
img{
    border-radius: 50%;
}
button{
    width: 200px;
    background-color:hsl(0, 0%, 20%);
    border-radius: 8px;
    border: none;
    height: 32px;
    color: hsl(0, 0%, 100%);
}