
input{
    width: 280px;
    height: 29px;
    border: 1px solid black;
    border-radius: 4px;
}
h1{
    font-family: "Roboto", sans-serif;
}

input[type="submit"]{
    background-color: black;
    color: white;
    height: 34px;
    width: 285px;
    border: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
}