body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: hsl(30, 38%, 92%);
}
.main{
    width: 600px;
    height: 500px;
    display: flex;
    border-radius: 8px;
}
.left img{
    width: 300px;
    height: 500px;
    border-radius: 8px;
}
.right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#one{
    color: hsl(228, 12%, 48%)

    ;
}
#two{
    color: black;
    font-size: 30px;
    font-weight: 900;
}
#three{
    max-width: 250px;
    overflow: hidden;
    color: hsl(158, 36%, 37%)

}
#four p{
    display: inline;
    margin-left: 20px;
    color:hsl(158, 36%, 37%)
    ;


}
#first{
    font-size: 35px;
}
#second{
    text-decoration:line-through;
}
button{
    margin-top: 20px;
    width: 250px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color:hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}