@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-style {
    border: 1px solid black;
    width: 200px;
  }
}

@layer utilities {
.button {
  border: 1px solid black;
  width: 100px;
  border-radius: 10px;
}
}
