#one{
    color: rgb(255, 0, 0);
}
#two{
    color: rgb(0, 255, 0);
}
#three{
    color: rgb(0, 0, 255);
}
#four{
    color: rgb(26, 188, 126);
}
#five{
    color: #8f00ff;
}
#six{
    color: #00954F;
}
#seven{
    color: #852F26;
}