.grid-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
#p1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
#p2{
    grid-column-start:4 ;
    grid-column-end: 7;
}
#p3{
    grid-column-start: 7;
    grid-column-end: 13;
}
#p4{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start:4 ;
    grid-column-end: 7;
}

#p6{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;

}
#p5{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
}
#p7{
    grid-row-start: 5;
    grid-row-end: 10;
    grid-column-start:4 ;
    grid-column-end: 7;
}
#p8{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 10;
}
#p9{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 8;
}
#p10{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 5;
}
#p11{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 8;
}
